
body, input {
	font-size:19pt;
	}
input, label {
	vertical-align:middle;
}
.qrcode-text {
	display:block;
	padding-right:2.7em;
	margin-bottom: 25px;
	vertical-align: middle;
	width:500px;
	text-align: center;
}
.qrcode-text-btn {
	display:block;
	background:url('../resources/qr_icon.svg') 50% 50% no-repeat;
	height:100px;
	width:100px;
	text-align: center;
    margin: 0 auto;
	cursor:pointer;
	vertical-align: middle;
}
.qrcode-text-btn > input[type=file] {
	position:absolute;
	overflow:hidden;
	width:1px;
	height:1px;
	opacity:0;
}
